// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.delete-btn {
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    color: red;
    position: absolute;
    right: 0;
}
span.buttons-span{
    position: absolute;
    right: 15px;
    bottom: 5px;

}
span.buttons-span span:first-child{
    margin-right: 15px;
}
span.buttons-span span:first-child a{
    color: #34801a;
}
span.buttons-span span:last-child a{
    color: #ff461b;
}

span.product-header-title{
    color : #5cd08d;
    text-decoration: underline;
    font-weight: bold;
}

a.remove-option{
    color: #5cd08d;
}

a.activate-image-upload{
    display: block;


}
a.activate-image-upload:hover{


}

.image-card-upload img{

}
.image-card-upload card-body i{
    font-size: 6rem;
    color: #b58714;
}
.image-card-upload a.remove-image-upload{
    font-size: 2rem;
    color: #ff5f4a;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 9999;

}

input.image-file-upload{
    display: none;
}
